.form-container{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0,0,0.3);
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    visibility: hidden;
    opacity: 0;
    transition: all.3s ease-in-out;
}

#form {
    width: 400px;
    height: 500px;
    border-radius: 10px;
    padding: 10px;
    background: linear-gradient(to right, #B19CD9,#FFA6C9 );
}

#form2 {
    background-color: #ffffff90;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    padding: 10px;
    width: 95%;
    height: 95%;
}

.form-activo {
    visibility: visible;
    opacity: 1;
}

#titulo {
    text-align: center;
    margin: 30px 5px 5px;
    font-family: 'Petemoss', cursive;
    font-size: 70px;
}
#subtitulo {
    margin-bottom: 30px;
}

h2 {
    text-align: center;
    font-family: 'Lora', serif;
}

p {
    margin: 15px;
}

span {
    margin: 10px;
}

.division {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.invalido {
    border: red 3px solid;
}

.valido {
    border: greenyellow 3px solid;
}

