.form-container{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0,0,0.3);
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    visibility: hidden;
    opacity: 0;
    transition: all.3s ease-in-out;
}

#form {
    width: 400px;
    height: 500px;
    background-color: aquamarine;
    border-radius: 10px;
}

.form-activo {
    visibility: visible;
    opacity: 1;
}

#titulo {
    text-align: center;
    margin: 30px 5px;
}

h2 {
    text-align: center;
}

p {
    margin: 15px;
}

span {
    margin: 10px;
}